.page-container {
  
  .cards-container {
    // background-color: #efefef;
    padding: 70px 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .hero {
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;

    h1 {
      margin: 20px;
    }
  }
}